@model MailSendbox.ViewModels.Home.IndexViewModel
<div>
    <h1>Real-Time Watch</h1>
    
    <button type="button" class="btn btn-primary refresh" data-loading-text="Refreshing..." autocomplete="off"><i class="icon-refresh icon-white"></i> Refresh</button>

    @foreach (var mail in Model.Mails)
    {
        <section>
            <hr />
            <h2>@mail.Subject</h2>
            <h3>From @mail.From to @mail.To on @mail.Date</h3>
            <pre>@mail.Body</pre>
        </section>
    }

    <button type="button" class="btn btn-primary refresh" data-loading-text="Refreshing..." autocomplete="off"><i class="icon-refresh icon-white"></i> Refresh</button>
</div>

@section scripts{
    <script type="text/javascript">
        $('.refresh').click(function () {
            $('.refresh').button('loading');
            location.reload();
        });
    </script>
}